.page[b-z8yw3eprgx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-z8yw3eprgx] {
    flex: 1;
    background-color: #f8fafc;
    min-height: 100vh;
}

.sidebar[b-z8yw3eprgx] {
    background: #ffffff;
}

.content[b-z8yw3eprgx] {
    padding: 2rem 2rem;
}

@media (min-width: 641px) {
    .page[b-z8yw3eprgx] {
        flex-direction: row;
    }

    .sidebar[b-z8yw3eprgx] {
        width: 260px;
        height: 100vh;
        position: sticky;
        top: 0;
        flex-shrink: 0;
    }
}

#blazor-error-ui[b-z8yw3eprgx] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-z8yw3eprgx] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }